@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app">
    <div ng-view></div>
</div>

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/EmployeeService.js"></script>
    <script src="~/Scripts/app/ListEmpController.js"></script>
    <script src="~/Scripts/app/AddEmpController.js"></script>
    <script src="~/Scripts/DatePicker/angular-datepicker.js"></script>
}

